NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ct_assignment
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ct_assignment?schema=public

REDIS_PORT=6379

REDPANDA_BROKERS=localhost:19092
REVIEW_EVENTS_TOPIC=review-events
REVIEW_CONSUMER_GROUP=review-processor

PRODUCT_SERVICE_PORT=3000
REVIEW_PROCESSOR_PORT=3001

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
PROMETHEUS_PORT=9090
GRAFANA_PORT=3002
LOKI_PORT=3100
TEMPO_PORT=3200
